@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Megrim|Source+Sans+Pro|Teko');


/*Palette URL: http://paletton.com/#uid=a2P3x0kwi++bu++hX++++rd++kX */



$color-primary-0: #00FF00;	/*Main Primary color*/
$color-primary-1: #A4FFA4;
$color-primary-2: #70FF70;
$color-primary-3: #00AD00;
$color-primary-4: #008500;

$color-complement-0: #1097FF;	/*Main Complement color */
$color-complement-1: #A9DAFF;
$color-complement-2: #79C5FF;
$color-complement-3: #004F8B;
$color-complement-4: #003D6B;





/*$rgba-primary-0: rgba(  0,255,  0,1);	
$rgba-primary-1: rgba(164,255,164,1);
$rgba-primary-2: rgba(112,255,112,1);
$rgba-primary-3: rgba(  0,173,  0,1);
$rgba-primary-4: rgba(  0,133,  0,1);

$rgba-complement-0: rgba( 16,151,255,1);	
$rgba-complement-1: rgba(169,218,255,1);
$rgba-complement-2: rgba(121,197,255,1);
$rgba-complement-3: rgba(  0, 79,139,1);
$rgba-complement-4: rgba(  0, 61,107,1);
*/


