@import 'theme';


* {

	box-sizing: border-box;
	background: none;

}

html {

	max-width: 100%;
	padding: 0px;
	margin: 0px;
	
}

body{
	max-width: 100%;
	padding: 0px;
	margin: 0px;
	background: none;
}

button{
	color: white;
	background: none;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	transition: .5s ease;
	-webkit-transition: .5s ease;
}

button:focus {
  	outline: none !important;
}

.hidden{
	display: none;
	visibility: hidden;
	margin: 0 !important;
}

/*.backgroundIMG{
		top: 0;
		background-repeat: no-repeat;
    	background-attachment: fixed;
		width: 100vw;
		height: 100%;
		background:
		-webkit-linear-gradient(45deg, hsla(135, 95%, 48%, 1) 0%, hsla(135, 95%, 48%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(59, 91%, 48%, 1) 10%, hsla(59, 91%, 48%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(194, 93%, 43%, 1) 10%, hsla(194, 93%, 43%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(307, 94%, 46%, 1) 100%, hsla(307, 94%, 46%, 0) 70%);
		background:
		linear-gradient(45deg, hsla(135, 95%, 48%, 1) 0%, hsla(135, 95%, 48%, 0) 70%),
		linear-gradient(135deg, hsla(59, 91%, 48%, 1) 10%, hsla(59, 91%, 48%, 0) 80%),
		linear-gradient(225deg, hsla(194, 93%, 43%, 1) 10%, hsla(194, 93%, 43%, 0) 80%),
		linear-gradient(315deg, hsla(307, 94%, 46%, 1) 100%, hsla(307, 94%, 46%, 0) 70%);

}*/

.mobile_nav_header{

	z-index: 5;
	position: fixed;
	background-color: rgba(0,0,0,.5);
	transition: .5s ease;
	margin: 0 !important;
	
}

.navbar{	
	z-index: 5;
	border-radius: .2rem;
	width: 100%;
	position: fixed !important;
	top: .5rem;
	left: 2rem;
	background: rgba(0,0,0,.4);
	margin: 0;
	
	button{
		color: white;
		background: none;
		border: none;
		font-family: 'Source Sans Pro', sans-serif;
		transition: .5s ease;
		-webkit-transition: .5s ease;
	}

	button:hover{
		padding: .3rem;
		margin: .3rem;
		
		transition: .5s ease;
		-webkit-transition: .5s ease;
		

	}

	.active{
		border-bottom: .2rem solid white;
	}
}

.navbar_side{	
	z-index: 5;
	border-radius: .2rem;
	position: fixed !important;
	top: 0;
	background-color: rgba(0,0,0,.5);

	
	button{
		color: white;
		background: none;
		border: none;
		font-family: 'Source Sans Pro', sans-serif;
		transition: .5s ease;
		-webkit-transition: .5s ease;
	}
	button:focus {
  		outline: none !important;
	}

	.active{
		border-bottom: .2rem solid white;
	}


}


.logo {

	background: none;
	z-index: 90;
	position: absolute;
	top: 50%;
	left: 50%;	
	transform: translate(-50%, -50%);
	width: 10rem;
	height: 10rem;

}

	


.hero {

	width:100vw;
	height: 200px;
	margin: 0px;
	padding: 0px;
	position: relative;


}

.home_view{


	.bio_wrapper{
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		margin-left: 0;
		margin-right: 0;
		display: flex;
		align-items: stretch;


		.bio_text_wrapper{

			text-align: left;
			width: 58%;
			padding: 1rem;
			margin: .5rem;

			h3{
				color: white;
				display: block !important;
				font-family: 'Source Sans Pro', sans-serif;
				padding: 0;
				margin: 0;
				margin-bottom: .2rem;
			}

			p{
				display: block !important;	
				color: white;
				font-family: 'Source Sans Pro', sans-serif;
			}

		}

		.bio_img_wrapper{

			width: 30%;
			position: relative;
			overflow: hidden;
			padding: 1rem;
			margin: .5rem;
			border-radius: 15px !important;
			img{
				border-radius: 15px;
			}

		}

	}

	.skills_wrapper{

		h3{

			display: block !important;
			color: white;
			font-family: 'Source Sans Pro', sans-serif;
			padding: 0;
			margin: 0;
			margin-bottom: .2rem;
		}

		.skill_wrapper{

			display: inline-flex;
			color: white;
			background-color: rgba(0,0,0,.5);
			padding: .5rem;
			margin: .5rem;
			border-radius: .4rem;
			position: relative;
			font-family: 'Megrim', cursive;
			text-align: center;
			border-bottom: .5rem solid white;
				
			i{
				position: absolute;
				top: -10%;
				right: -2%;	
				font-size: 2.5rem;

			}
		}
	}

	.modal_wrapper{

		position: fixed;
		top:0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0,0,0, .8);

		z-index: 15;

		button{

			position: absolute;
			top: 10%;
			right: 10%;	
				
		}

		.modal_content_wrapper{
			
			position: absolute;
			top: 40%;
			left: 50%;	
			transform: translate(-50%, -50%);

			.modal_content{

				color: white;

				h3{
					font-family: 'Source Sans Pro', sans-serif;
				}

				p{
					font-family: 'Source Sans Pro', sans-serif;
				}

			}
		}
	}	
}


.footer_wrapper{
	h4{
		color: white;
		padding: .5rem;
		font-family: 'Source Sans Pro', sans-serif;
	}
}



.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.tagline{
	font-family: 'Teko', sans-serif;
	font-size: 1.5rem;
	padding: .2rem;
}

.projects_header{
	text-align: center;
	font-size: 2rem;
	font-family: 'Teko', sans-serif;
	font-style: bold;
	padding: .2rem;

}

.contact{
	display: flex;
	justify-content: flex-start;
	
	.contact_item{

		flex: flex-basis;
		align-self: auto;
		margin: .2rem;
		width: 5rem;	
		height: 5rem;

		background-color: none;

		.contact_img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}
}

.about_text{
	padding: .5rem;
	font-size: 1.3rem;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
}


.projects_wrapper{


		.project_wrapper{
			border-radius: 1rem;
			position: relative;
			overflow: hidden;

			.header{
				position: absolute;
				top: 0px;
				background: rgba(0,0,0,.8);
				margin: auto;
				width: 100%;
				padding: .5rem;
				z-index: 2;
				border-bottom: .2rem solid white;
				
			}

			.content{
				position: absolute;
				bottom: 0px;
				width: 100%;
				height: 100%;
				background-color: none;
				img{
					left:50%;
					top:50%;
					transform: translate(-50%, -50%);
					position: absolute;
					bottom: 0;
					margin: none;
					padding: none;
				}
			
			}

			.project_button{
				font-size: 1.2rem;
				background-color: rgba(0,0,0,.8);
				position: absolute;
				z-index: 3;
				border: none;
				outline: none;
				bottom: 10px;
				right: 10px;

			}

			.project_button:focus {
  				outline: none;
			}
			.project_button:hover {
  				outline: none;
  				background-color: black;
  				border: .2rem solid white;
			}
			
			h4{
				font-size: 120%;
				padding: .2rem;
				margin: 0;
			}

			p{
				padding: .2rem;
				margin: 0;
				margin-top: .2rem;
				font-size: 80%;
			}

			color: white;
			background-color: rgba(0,0,0,.5);
			position: relative;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 100%;
			text-align: left;
			height: 100%;
			width: 100%;
				
		}
	}

.skills_header{
	text-align: center;
	font-size: 2rem;
	font-family: 'Teko', sans-serif;
	font-style: bold;
	padding: .2rem;

}


.skills{

		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-start;

		.skill{

			margin: .2rem;
			width: 5rem;	
			height: 5rem;
		
			img{
				height: auto;
				width: auto;
				max-height: 100%;
				max-width: 100%;
				margin: none;
		
			}

		}
	}


@media only screen and (min-width : 996px) {
	h4{
		font-size: 3rem;
		padding: .2rem;
		margin: auto;
	}

	p{
		font-size: 1.3rem;
	}

	.skills_wrapper{
		.skill{

			width: 7rem;	
			height: 7rem;

		}
	}
}

@media only screen and (min-width : 768px) and (max-width : 996px) {
	h4{
		font-size: 3rem;
		padding: .2rem;
		margin: auto;
	}

	p{
		font-size: 1.3rem;
	}
	.skills_wrapper{
		.skill{

		
			width: 6.5rem;	
			height: 6.5rem;

		}
	}
}

@media only screen and (min-width : 480px) and (max-width : 768px) {
	h4{
		font-size: 2.5rem;
		padding: .2rem;
		margin: auto;
	}
	p{
		font-size: 1.2rem;
	}

	.skills_wrapper{
		.skill{

			width: 6rem !important;	
			height: 6rem !important;

		}
	}
}

@media only screen and (min-width : 0px) and (max-width : 480px) {
	h4{
		font-size: 1.5rem;
		padding: .2rem;
		margin: auto;
	}
	p{
		font-size: 1.2rem;
	}
	.skills_wrapper{
		.skill{

			width: 5.5rem;	
			height: 5.5rem;

		}
	}

}
